*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
.wrapper {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
  background-color: #f9fbfd;
}

#history {
    float: left;
}

#timeleft {
    float: right;
}

#maincontent {
    text-align: left;
    padding-top: 10%;
    padding-left: 30%;
    padding-right: 30%;
}
#welcomepage {
    text-align: center;
    padding-top: 10%;
    padding-left: 30%;
    padding-right: 30%;
}

#quizpage{
    display: none;
}
#signuppage {
    display: none;
}
#highscorepage {
    display: none;

}

button {
    background-color: purple;
    color: white;
}

#historyScores {
    background-color: lavenderblush;
}

.result {
    border-top: 1px solid grey;
    margin-top: 5px;
    padding-top: 5px;
    display: none;
}

#history {
    color: purple;
}

.option {
    margin: 5px;
}



